@import "../../utils/variables";

.our-models {
  background-color: $main-text-color;
  padding-top: 80px;
  margin-bottom: 80px;

  &__title {
    margin-bottom: 40px;
    justify-content: center;
    display: flex;
  }

  &__title-text {
    font-family: Oswald;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    text-align: center;
    color: #ecdfcc;
  }

  &__block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 87px 24px;

    @media (max-width: 1439px) {
      justify-content: center;
    }

    @media (min-width: $tablet-min-width) and (max-width: 1023px) {
    }

    @media (max-width: 576px) {
      gap: 40px 24px;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;

    @media (min-width: $tablet-min-width) and (max-width: 1023px) {
    }

    @media (max-width: 576px) {
      .our-models__card {
        padding: 0 25px;
      }

      .our-models__img img {
        max-width: 100%;
      }
    }
  }

  &__name {
    display: flex;
    font-family: Oswald;
    font-size: 32px;
    font-weight: 400;
    line-height: 38.4px;
    color: #ecdfcc;
    padding-top: 16px;
    text-decoration: none;
  }

  &__location {
    display: flex;
    font-family: Ysabeau SC;
    font-size: 18px;
    font-weight: 300;
    line-height: 21.6px;
    text-align: center;
    padding-top: 8px;
    color: #ecdfcc;
    text-decoration: none;
  }

  &__link {
    text-decoration: none;
  }

  &__block-second {
    margin-top: 84px;
  }

  &__btn-show {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 438px;
    height: 54px;
    background-color: #ecdfcc;
    color: #1e201e;
    text-decoration: none;
    font-family: Ysabeau SC;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
  }

  &__btn {
    display: flex;
    justify-content: center;
    padding: 15px 0;
    margin-top: 80px;
    cursor: pointer;

    @media (min-width: $tablet-min-width) {
      margin-top: 80px;
    }

    @media (max-width: 576px) {
      margin-top: 40px;
    }
  }

  &__block-third {
    margin-top: 84px;

    @media (min-width: $tablet-min-width) {
    }

    @media (max-width: 576px) {
      margin-top: 40px;
    }
  }

  &__block-fourth {
    margin-top: 84px;
  }
}

.about {
  padding: 0 40px;
}

.about__image--left {
  width: 322px;
  height: 483px;
}

.about__image--left img {
  width: 100%;
  height: 100%;
  object-fit: cover; // Заполняет контейнер без искажений
}

.about__image--center {
  width: 300px;
  height: 375px;
  position: relative; // Обязательно для transform
  transform: translateY(60%); // Опускает вниз на 50% от своего размера
}

.about__image--center img {
  width: 100%;
  height: 100%;
  object-fit: cover; // Обрезка изображения без искажений
}

.about__image--right {
  width: 322px;
  height: 422px;
  bottom: 0;
}

.about__image--right img {
  width: 100%;
  height: 100%;
  object-fit: cover; // Обрезает изображение без искажений
}

.about {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 120px;
  
}
