@import "../../utils/variables";

.person-page {
  padding: 0 40px;

  @media (min-width: 576px) and (max-width: 1023px) {
    padding: 0 24px;
  }

  @media (max-width: 576px) {
    padding: 0 16px;
  }
}

.person-info {
  display: flex;
  margin-bottom: 80px;
  margin-top: 80px;
}

.person-info__left {
  padding-right: 191px;
}

.person-info__right {
  padding-left: 25px;
  display: flex;
}

.person-info__item {
  font-family: Ysabeau SC;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #ecdfcc;
}

.person-info__pages {
  display: flex;
  background-color: $third-text-color;
}

.person-info__pages-numbers {
  font-family: Ysabeau SC;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  color: #ecdfcc;
  background-color: $third-text-color;
  align-items: center;
  display: flex;
}

.person-info__pages-right {
  background-color: $third-text-color;
}

.person-info__parameters {
  display: flex;
  gap: 24px;
  flex-direction: column;
  position: relative;
  height: 100%;
}

.person-info__pages {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
