$main-text-color: #1E201E;
$second-text-color: #ECDFCC;
$third-text-color: #3C3D37;
$fourth-text-color: #A09D98;
$main-font: "Ysabeau SC", serif;
$second-font: "Oswald", serif;
$tablet-min-width: 576px;
$desktop-min-width: 1024px;
$mobile-max-width: 575px;
